<blockquote class="twitter-tweet">
    <p lang="ja" dir="ltr">
        <a href="https://twitter.com/hashtag/27Tech?src=hash&amp;ref_src=twsrc%5Etfw">#27Tech</a>
        開催中🔥<br />運営も参加者も名古屋の27卒のみで構成されています！
        <a href="https://t.co/s8vaEspkna">pic.twitter.com/s8vaEspkna</a>
    </p>
    &mdash; MatsuribaTech🏮 (@MatsuribaTech)
    <a href="https://twitter.com/MatsuribaTech/status/1811707395795812848?ref_src=twsrc%5Etfw">July 12, 2024</a>
</blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<blockquote class="twitter-tweet">
    <p lang="ja" dir="ltr">
        27卒向けの交流会27Techに参加しました!<br />シス研の広報が運営をして大成功しました!<a
            href="https://twitter.com/hashtag/27Tech?src=hash&amp;ref_src=twsrc%5Etfw"
            >#27Tech</a
        >
        <a href="https://t.co/1Nm7xQnArW">pic.twitter.com/1Nm7xQnArW</a>
    </p>
    &mdash; 愛知工業大学 システム工学研究会 @月曜日 西こ27a (@set_official)
    <a href="https://twitter.com/set_official/status/1811739680679034984?ref_src=twsrc%5Etfw">July 12, 2024</a>
</blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<blockquote class="twitter-tweet">
    <p lang="ja" dir="ltr">
        今日はZepp Nagoya
        <br />ではなくお隣のスタメンのオフィスで27techに参加させて頂きました<br />同年代の子と色んな話ができて楽しかった！！<br />
        <a href="https://twitter.com/hashtag/27Tech?src=hash&amp;ref_src=twsrc%5Etfw">#27Tech</a>
        <a href="https://t.co/OToNOGqC4P">pic.twitter.com/OToNOGqC4P</a>
    </p>
    &mdash; アユム (@ayumugilugarudo)
    <a href="https://twitter.com/ayumugilugarudo/status/1811744405428273359?ref_src=twsrc%5Etfw">July 12, 2024</a>
</blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<blockquote class="twitter-tweet">
    <p lang="ja" dir="ltr">
        <a href="https://twitter.com/hashtag/27Tech?src=hash&amp;ref_src=twsrc%5Etfw">#27Tech</a
        ><br />わいわいできて楽しいイベントでした！<br />(イベント中の写真撮り忘れた)
        <a href="https://t.co/0zxGWSAAbC">pic.twitter.com/0zxGWSAAbC</a>
    </p>
    &mdash; asura146 (@asura146)
    <a href="https://twitter.com/asura146/status/1811760987932176659?ref_src=twsrc%5Etfw">July 12, 2024</a>
</blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<blockquote class="twitter-tweet">
    <p lang="ja" dir="ltr">
        19名の名古屋の27卒による
        <a href="https://twitter.com/hashtag/27tech?src=hash&amp;ref_src=twsrc%5Etfw">#27tech</a>
        を開催しました🎉<br />名古屋の学生エンジニアのこれからを担う彼らに期待です🔥<a
            href="https://twitter.com/hashtag/%E7%A5%AD%E3%82%8A%E5%A0%B4?src=hash&amp;ref_src=twsrc%5Etfw"
            >#祭り場</a
        >
        <a href="https://twitter.com/hashtag/NxTEND?src=hash&amp;ref_src=twsrc%5Etfw">#NxTEND</a>
        <a href="https://t.co/TZgGMyu7gE">pic.twitter.com/TZgGMyu7gE</a>
    </p>
    &mdash; MatsuribaTech🏮 (@MatsuribaTech)
    <a href="https://twitter.com/MatsuribaTech/status/1811745391609790786?ref_src=twsrc%5Etfw">July 12, 2024</a>
</blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<blockquote class="twitter-tweet">
    <p lang="ja" dir="ltr">
        今回は27卒の子達が完璧に運営してくれたので、後方腕組みおじさんしてました()<br />運営の皆んなお疲れー！！🎉<a
            href="https://twitter.com/hashtag/27tech?src=hash&amp;ref_src=twsrc%5Etfw"
            >#27tech</a
        >
        <a href="https://t.co/RXmLKGOZN2">https://t.co/RXmLKGOZN2</a>
        <a href="https://t.co/emMDJrgs2j">pic.twitter.com/emMDJrgs2j</a>
    </p>
    &mdash; Yuma-Satake | Matsuriba代表🏮 (@yuma_satake22)
    <a href="https://twitter.com/yuma_satake22/status/1811746806449176632?ref_src=twsrc%5Etfw">July 12, 2024</a>
</blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<blockquote class="twitter-tweet">
    <p lang="ja" dir="ltr">
        <a href="https://twitter.com/hashtag/27tech?src=hash&amp;ref_src=twsrc%5Etfw">#27tech</a><br />お疲れ様でした！
        <a href="https://t.co/3Pf8TTJVCr">pic.twitter.com/3Pf8TTJVCr</a>
    </p>
    &mdash; ユタ氏 (@StateofUtahshi)
    <a href="https://twitter.com/StateofUtahshi/status/1811741032666521637?ref_src=twsrc%5Etfw">July 12, 2024</a>
</blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<blockquote class="twitter-tweet">
    <p lang="ja" dir="ltr">
        イベントの主催者やってました<br />みんな楽しく交流できたみたいで嬉しい！！<br />もしかしたら次回が…？<a
            href="https://twitter.com/hashtag/27Tech?src=hash&amp;ref_src=twsrc%5Etfw"
            >#27Tech</a
        >
        <a href="https://t.co/DqF8Fyh8kv">pic.twitter.com/DqF8Fyh8kv</a>
    </p>
    &mdash; しばいぬ@27Tech運営 (@Shiba_ao_)
    <a href="https://twitter.com/Shiba_ao_/status/1811750620577300969?ref_src=twsrc%5Etfw">July 12, 2024</a>
</blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
