<code>
    <style>
        code {
            margin: 0;
            padding: 1rem;
            width: 100%;
        }
        table {
            background-color: white;
            border-collapse: collapse;
            border: 2px solid rgba(0, 0, 0, 0.3);
        }
        th {
            padding: 0.5rem;
        }
        td {
            padding: 0.5rem;
        }
        .month {
            background-color: antiquewhite;
            /* 右寄せ */
            text-align: right;
            width: min-content;
        }
        tr {
            border-top: 1px solid rgba(0, 0, 0, 0.1);
        }
        .no-border {
            border-top: none;
        }
    </style>
    <table>
        <tr>
            <th class="month">month</th>
            <th>description</th>
        </tr>
        <tr>
            <td class="month">4月</td>
            <td>大学入学</td>
        </tr>
        <tr class="no-border" >
            <td class="month"></td>
            <td><a href="https://www.sysken.net/">システム工学研究会（以降シス研）参加</a></td>
        </tr>
        <tr>
            <td class="month">5月</td>
            <td>シス研 1年生 webハッカソン</td>
        </tr>
        <tr>
            <td class="month">6月</td>
            <td>
                <a href="/posts/geekcamp-0617"
                    >技育CAMPキャラバン福岡 最優秀賞<br />（チーム「完全に理解した」:プロダクト「かみあぷり」）</a
                >
            </td>
        </tr>
        <tr>
            <td class="month">7月</td>
            <td><a href="/posts/tgs-oc">オープンキャンパス</a></td>
        </tr>
        <tr class="no-border">
            <td class="month"></td>
            <td><a href="https://www.sysken.net/post/426">シス研 バーベキュー</a></td>
        </tr>
        <tr>
            <td class="month">8月</td>
            <td>
                <a href="/posts/geekcamp-0806"
                    >技育CAMP vol.7 <br />（チーム「${TEAM_NAME}」:プロダクト「wisdom Tree」）</a
                >
            </td>
        </tr>
        <tr class="no-border">
            <td class="month"></td>
            <td><a href="https://www.sysken.net/post/624">シス研 OB・OG会</a></td>
        </tr>
        <tr>
            <td class="month">9月</td>
            <td>
                <a href="/posts/geekcamp-advance-0902"
                    >技育CAMPアドバンス 企業賞受賞<br />（チーム「完全に理解した」：プロダクト「かみあぷり」）</a
                >
            </td>
        </tr>
        <tr class="no-border">
            <td class="month"></td>
            <td>
                <a href="/posts/geekcamp-advance-0902"
                    >技育CAMPアドバンス 企業賞受賞<br />（チーム「${TEAM_NAME}」:プロダクト「wisdom Tree」）</a
                >
            </td>
        </tr>
        <tr class="no-border">
            <td class="month"></td>
            <td>
                <a href="/posts/geekten2023-final">技育展 本戦出場 <br />(プロダクト「wisdom Tree」 )</a>
            </td>
        </tr>
        <tr class="no-border">
            <td class="month"></td>
            <td>
                <a href="https://github.com/kanakanho/links"
                    >シス研 サークル内ハッカソン <br />（プロダクト「Share Link」）</a
                >
            </td>
        </tr>
        <tr class="no-border">
            <td class="month"></td>
            <td><a href="/posts/portfolio-2023">ポートフォリオサイト作成</a></td>
        </tr>
        <tr class="no-border">
            <td class="month"></td>
            <td><a href="/posts/tgs-2023">Tokyo Game Show 「中華の達人」</a></td>
        </tr>
        <tr class="no-border">
            <td class="month"></td>
            <td><a href="https://matsuriba-tech.connpass.com/event/295171/">Matsuriba vol.1</a></td>
        </tr>
        <tr>
            <td class="month">10月</td>
            <td><a href="/posts/transrate-app-1002">翻訳アプリリリース</a></td>
        </tr>
        <tr class="no-border">
            <td class="month"></td>
            <td>
                <a href="https://www.sysken.net/post/631"
                    >シス研 学祭（工科展） ポスター : 1チーム,デモ動画 : 2チーム作成</a
                >
            </td>
        </tr>
        <tr class="no-border">
            <td class="month"></td>
            <td><a href="https://sysken.net/post/623">シス研 学祭（模擬店） ポスター作成</a></td>
        </tr>
        <tr class="no-border">
            <td class="month"></td>
            <td>
                <a
                    href="https://friends.figma.com/events/details/figma-nagoya-presents-minnadewaiwaidezainayadezainnixing-wei-noarufang-noken-qin-hui-ming-gu-wu/"
                    >Friend of Figma Nagoya（FoF Nagoya） 第2回イベント</a
                >
            </td>
        </tr>
        <tr>
            <td class="month">11月</td>
            <td>
                <a href="/posts/geekcamp-1118"
                    >技育CAMPキャラバン名古屋 最優秀賞<br />（チーム「寝坊マスターズ」：プロダクト「簡単行列整理くん」）</a
                >
            </td>
        </tr>
        <tr class="no-border">
            <td class="month"></td>
            <td><a href="https://matsuriba-tech.connpass.com/event/300429/">Matsuriba vol.2</a></td>
        </tr>
        <tr class="no-border">
            <td class="month"></td>
            <td><a href="https://www.sysken.net/post/1077">第九回技術書同人誌博覧会 「XRってなんだ？」発行</a></td>
        </tr>
        <tr>
            <td class="month">12月</td>
            <td>
                <a href="https://connpass.com/event/303392/"
                    >ハッカソン・おかわりLT会!! 「デザイン思考のプロダクト提案」</a
                >
            </td>
        </tr>
        <tr class="no-border">
            <td class="month"></td>
            <td>
                <a href="/posts/geekcamp-advance-1216"
                    >技育CAMPアドバンス<br />（チーム「寝坊マスターズ」：プロダクト「簡単行列整理くん」）</a
                >
            </td>
        </tr>
        <tr class="no-border">
            <td class="month"></td>
            <td><a href="/posts/meiden-lt">高大連携LT会 登壇「XRってなんだろう」</a></td>
        </tr>
    </table>
</code>
