<style>
    .grid-container {
        padding: 2px;
        display: grid;
        grid-template-columns: 1fr repeat(3, 2fr); /* 4列を作成します。 */
        grid-gap: 2px; /* セル間のギャップを設定します */
        background-color: gray;
    }

    .grid-container div {
        padding: 10px; /* セルの内側のスペースを設定します */
        background-color: floralwhite;
    }
    .head {
        background-color: bisque !important;
    }
    .left {
        text-align: center;
        justify-content: center;
        background-color: cornsilk !important;
    }
    #grid-item-large-3 {
        display: flex;
        align-items: center;

        /* 2列を占有 */
        grid-row: span 3;
        padding: 10px; /* セルの内側のスペースを設定します */
    }
    #grid-item-large-4 {
        display: flex;
        align-items: center;

        /* 1行を占有 */
        grid-row: span 4;
        padding: 10px; /* セルの内側のスペースを設定します */
    }
    #grid-item-large-colum {
        display: flex;
        justify-content: center;
        align-items: center;

        /* 4列を占有 */
        grid-column: span 3;
    }
</style>
<div class="grid-container">
    <div class="head"></div>
    <div class="head">Day1(2/14)</div>
    <div class="head">Day2(2/15)</div>
    <div class="head">Day3(2/16)</div>

    <div class="left">午前</div>
    <div>オンボーディング</div>
    <div>QA エンジニアについて</div>
    <div id="grid-item-large-4">スクラムでの開発体験</div>

    <div class="left" id="grid-item-large-3">午後</div>
    <div id="grid-item-large-3">マネジメントについて</div>
    <div>ソフトウェアテストについて</div>

    <div>グラレコについて</div>

    <div>WebAPI のテストツール紹介</div>

    <div class="left">クローズ</div>
    <div id="grid-item-large-colum">社員さんとの座談会</div>
    <!-- 他の行 -->
</div>
